@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
	background: #0000FF;
	font-family: 'Vollkorn', serif;
	color: #FAFAFA;
}

h2 {
	font-size: 1.5em;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
}

/* BUTTON STYLES
----------------------*/
.buttons {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;   
}
button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	box-shadow: 0 10px #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

button:disabled {
	background: #D3D3D3;
	cursor: pointer;
}

.startAction,
.resetAction {
	background: #0000FF;
	margin-bottom: 20px;
	font-weight: bold;
	color: #FAFAFA;
	font-size: 2em;
	padding: 20px 20px;
	max-width: 200px;
	border-radius: 15px;
}

.counterAction {
	padding: 25px 30px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #F5D714;
	border: none;
	border-radius: 100%;
}

.addAction {
	background: #0000FF;
	margin-bottom: 20px;
	font-weight: bold;
	color: #FAFAFA;
	font-size: 2em;
	padding: 5px 5px;
	min-width: 400px;
	border-radius: 15px;
}

.startAction:active,
.resetAction:active,
.counterAction:active {
	background-color: #C46212;
}

.startAction:hover,
.resetAction:hover {
	background-color: navy;
}

.counterAction:hover {
	background: #EE9900;
	cursor: pointer;
}

/* PLAYERS CSS
 -----------------------*/
.players {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between; 
}
.player {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 2px;
	padding: 10px 30px;
	flex: 1;
}

.playerName {
	font-size: 24px;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.playerScore {
	width: 100px;
	background: #0000FF;
}

/* COUNTER CSS
------------------------*/
.counter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.counterScore {
	color: #FAFAFA;
	text-align: center;
	font-family: 'Vollkorn', serif;
	padding: 20px;
	font-size: 2em;
}

/* MISCELLANEOUS CSS
 ---------------------*/
#spin {
	font-size: 4em;
}
.scoreboard {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 20px groove yellow;
	border-radius: 10px;
	background-color: #856025;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.8), 0 12px 60px 0 rgba(0, 0, 0, 0.38);
	width: 600px;
	margin-bottom: 50px;
}

.jumbotron {
	text-align: center;
	background: #0000FF;
	padding: 0;
}

.footer {
	padding: 5px 10px;
	text-align: center;
}
.footer h2 {
	font-size: 3em;
}
span {
	font-size: 8em;
	position: absolute;
	margin-top: -200px;
	margin-left: -50px;
	width: 105px;
}
