@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
	font-family: 'Vollkorn', serif;
	color: #FAFAFA;
	background-color: blue;
}
h2 {
	font-size: 1.5em;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
}

/* BUTTON STYLES
----------------------*/
.buttons {
	display: flex;
	align-items: center;   
}
button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	box-shadow: 0 10px #999;
}

button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

button:disabled {
	background: #D3D3D3;
}

.action {
	background: #0000FF;
	margin-bottom: 20px;
	font-weight: bold;
	color: #FAFAFA;
	font-size: 2em;
	padding: 5px 5px;
	border-radius: 15px;
}

.action:disabled:hover {
	background-color: #D3D3D3;
}

.action:hover {
	background-color: navy;
}


.players {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

/* MISCELLANEOUS CSS
 ---------------------*/

.scoreboard {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 20px groove yellow;
	border-radius: 10px;
	background:url(../scoreboard.jpg);
	background-size: cover;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.8), 0 12px 60px 0 rgba(0, 0, 0, 0.38);
	margin-bottom: 50px;
}

.jumbotron {
	text-align: center;
	background: #0000FF;
	padding: 0;
}

.footer {
	padding: 5px 10px;
	text-align: center;
}
.footer h2 {
	font-size: 3em;
}
span {
	font-size: 8em;
	position: absolute;
	margin-top: -200px;
	margin-left: -50px;
	width: 105px;
}

@media (min-width: 768px) {
	.scoreboard {
		width: 600px;
	}
}
