
input {
	width: 200px;
	display: block;
	margin: 20px auto;
	text-align: center;
}

.counterAction {
	padding: 25px 30px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #F5D714;
	border: none;
	border-radius: 100%;
}


.counterAction:active {
	background-color: #C46212;
}


.counterAction:hover {
	background: #EE9900;
	cursor: pointer;
}

/* PLAYERS CSS
 -----------------------*/

.player {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 2px;
	flex: 1;
}

.playerName {
	font-size: 24px;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.playerScore {
	width: 100px;
	background: #0000FF;
}

/* COUNTER CSS
------------------------*/
.counter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.counterScore {
	color: #FAFAFA;
	text-align: center;
	font-family: 'Vollkorn', serif;
	padding: 20px;
	font-size: 2em;
}

