@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');

@mixin auto {
	display: block;
	margin: 0 auto!important;
}

@mixin buttons($hoverColor, $boxShadow, $disabledHoverColor) {
    &:hover {
		background-color: $hoverColor;
	}
	&:disabled {
		box-shadow: 0 10px $boxShadow;
		&:hover {
			background-color: $disabledHoverColor;
		}
	}
}

@mixin buttonStyle($padding1, $padding2, $background, $color, $font-size, $border-radius, $box-shadow) {
    padding: $padding1 $padding2;
    background-color: $background;
    color: $color;
    font-size: $font-size;
    border-radius: $border-radius;
    box-shadow: 0 10px $box-shadow;
    border: none;
}

