@import "_import";

body {
	font-family: 'Vollkorn', serif!important;
	color: #FAFAFA!important;
	background-color: blue;
}
h2 {
	font-size: 1.5em;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
}

.info {
	align-items: center;
	@include column();
}

/* BUTTON STYLES
----------------------*/
.buttons {
	display: flex!important;
	align-items: flex-start!important;   
	margin-top: 100px;
}
button {
	@include auto;
	&:focus {
		outline: none;
	}
	&:active {
		transform: translateY(4px);
	}
	&:disabled {
		background: #D3D3D3;
	}
}
.action {
	@include buttonStyle(5px, 15px, #0000FF, #fafafa, 2em, 15px, #000033);
	margin-bottom: 20px;
	font-weight: bold;
	@include buttons(#000080, #999, #D3D3D3);
}


.players {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* MISCELLANEOUS CSS
 ---------------------*/

.dreidel {
	position: relative;
	margin: 5px;
	img {
		max-width: 100px;
	}
	h2 {
		font-size: 64px; 
		width: 55px; 
		font-family: 'Vollkorn';
		position: absolute;
		top: 40%;
		left: 25%;
	}
}

.scoreboard {
	@include auto;
	border: 20px groove yellow;
	border-radius: 10px;
	background:url(../images/scoreboard.jpg);
	background-size: cover;
	padding: 30px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.8), 0 12px 60px 0 rgba(0, 0, 0, 0.38);
	margin-bottom: 50px!important;
}

.footer {
	h2 {
		font-size: 3em;
	}
}


@media (min-width: 768px) {
	.scoreboard {
		width: 800px;
	}
}
