@import "_import";

input {
	width: 175px;
	display: block;
	margin: 20px auto!important;
	text-align: center;
}

.counterAction {
	@include buttonStyle(15px, 20px, #ffe015, #fff, 24px, 100%, #332d04);
	text-align: center;
	text-decoration: none;
	@include buttons(#80700a, #999, #D3D3D3);
}

/* PLAYERS CSS
 -----------------------*/

.player {
	@include column();
	font-size: 1.2em;
	letter-spacing: 2px;
}

.playerName {
	font-size: 2rem;
	text-align: center;
	font-family: 'Vollkorn', serif!important;
}

/* COUNTER CSS
------------------------*/
.counter {
	@include auto();
	position: relative;
}
.counterScore {
	color: #FAFAFA;
	text-align: center;
	font-family: 'Vollkorn', serif!important;
	font-size: 2em;
	li {
		@include coin();
	}
	p {
		position: absolute;
		width: 100px;
		color: #332d04;
	}
}

.pot {
	position: relative;
	li {
		@include coin();
	}
	p {
		font-size: 2.5em;
		z-index: 10000;
		position: absolute;
		width: 100px;
		text-align: center;
		color: #332d04;
	}
}
