@import "_import";

input {
	width: 200px;
	display: block;
	margin: 20px auto;
	text-align: center;
}

.counterAction {
	@include buttonStyle(25px, 30px, #ffe015, #fff, 24px, 100%, #332d04);
	text-align: center;
	text-decoration: none;
	@include buttons(#80700a, #999, #D3D3D3);
}

/* PLAYERS CSS
 -----------------------*/

.player {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 2px;
	flex: 1;
}

.playerName {
	font-size: 24px;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.playerScore {
	width: 100px;
	background: #0000FF;
}

/* COUNTER CSS
------------------------*/
.counter {
	@include auto;
}

.counterScore {
	color: #FAFAFA;
	text-align: center;
	font-family: 'Vollkorn', serif;
	padding: 20px;
	font-size: 2em;
}

